@font-face {
  font-family: peter1;
  src: url(Comfortaa-Medium.ttf);
}


body {
  background: rgba(250, 198, 164,0.7) /*url(images/Download.jpg)*/ no-repeat right top;
}

.ueberschrift {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h3 {
  
  font-family: peter1;
  font-size: 150px;
  color: black;
}

p {
  font-family: peter1;
  font-size: 25px;
}

.bild{
  text-align: center;
}